
/*hiromi*/
body,html {
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
    border-bottom: 1px solid #333;
}

.logo-img {
    height: 60px;
    width: auto;
    margin-top: -10px;
    margin-bottom: -10px;
}

/*submenu*/

.dropdown {
    position: relative;
    display: inline-block;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 -5px;
}

.navbar ul li a {
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #ff8200;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
}

ul li ul.dropdown li {
    display: block;
    text-align: left;

}

ul li ul.dropdown {
    width: 11%;
    min-width: 70px;
    background: #000000;
    position: absolute;
    z-index: 999;
    display: none;
    text-align: left;
    cursor: pointer;
    padding: 0 0 0 5px;
}



ul li:hover ul.dropdown {
    display: block;
}

/*submenu-long*/

.dropdown-long {
    position: relative;
    display: inline-block;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 -5px;
}

.navbar ul li a {
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #ff8200;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
}

ul li ul.dropdown-long li {
    display: block;
    text-align: center;

}

ul li ul.dropdown-long {
    width: 13%;
    min-width: 70px;
    background: #000000;
    position: absolute;
    z-index: 999;
    display: none;
    text-align: center;
    cursor: pointer;
    padding: 0 0 0 40px;
}



ul li:hover ul.dropdown-long {
    display: block;
}

/*background*/

.bgimg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('../images/Home\ page.png') no-repeat center center/cover;
    text-align: center;
}

.bgimg-text h1 {
    margin-top: -90px;
    font-family: "Yeseva One", serif;
    font-weight: 300;
    font-style: normal;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-size: 5em;
    color: #ff8200;
}

/* hiromi */
body {
    margin: 0;
    font-family: "Yeseva One", serif;
    background-color: #000;
    color: #fff;
    font-weight: 400;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    max-width: 1800px;
    margin: 0 auto;
    position: relative;
    border-top: 1px solid #ff8200;
    /* line */
    border-bottom: 0.5px solid #ff8200;
    /* line */
}

.image-container {
    flex: 2;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    font-family: "Yeseva One", serif; 
    color: #d8c68a; 
    background: black; 
    
}

.hero-section {
    width: 100%;
    height: 95vh; 
    background: url("'image/ryuchiabout.png'") no-repeat center center/cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.text-container {
    max-width: 600px;
}

.title {
    padding-left: 5%; 
    font-size: 150px; 
    font-weight: 400;
    margin: 0;
    line-height: 3;
}

.subtitle {
    padding-left: 200%; 
    font-size: 120px; 
    font-weight: 200;
    margin: 20px 0 0;
    line-height: 1.2;
}

@media (max-width: 768px) {
    .title {
        font-size: 2.5rem;
    }
    .subtitle {
        font-size: 3rem;
    }
}
.footer-contact {
    font-weight: 300;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}


.footer-bottom {
    margin-top: 20px;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

header.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
}