.image-animenz {
    flex: 2;
    overflow: hidden;
}

.image-animenz img {
    width: 100%;
    height: auto;
    display: block;
    filter: grayscale(100%);
}

.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../images/animenz2.jpg') no-repeat center center;
    background-size: cover;
}

.hero-text h1 {
    margin-top: -90px;
    font-family: "Yeseva One", serif;
    font-weight: 300;
    font-style: normal;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-size: 100px;
    color: #BAE7FF;
}

.hero-text h2 {
    margin-top: -90px;
    font-family: "Yeseva One", serif;
    font-weight: 300;
    font-style: normal;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-size: 50px;
    color: #BAE7FF;
}

header.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
}

body {
    background-color: #001724;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.bgtext {
    display: flex;
    flex-direction: column;
}

.hero-text {
    position: absolute;
    top: 90%;
    left: 34%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.about-text {
    padding-bottom: 45px;
    padding-left: 10px;
}

.special-text {
    font-family: "Yeseva One", serif;
    font-size: 48px;
    color: #BAE7FF;
    font-weight: 300;
    padding-right: 10px;
}

.about-section-text {
    margin: 0 auto;
    padding: 100px;
    width: 65%;
}

p {
    font-family: "Yeseva One", serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}

.text-section {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.image-section img {
    max-width: 100%;
    display: block;
    margin: 0;
    margin-top: 35px;
}

.image-section {
    max-width: 400px;
    flex: 1;
}

.text-section h1 {
    font-family: "Yeseva One", serif;
    font-weight: 300;
    font-style: normal;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-size: 50px;
}

.text-section p::before {
    content: "•";
    position: absolute;
    left: 0;
    line-height: 1;
    padding-top: 5px;
}

.text-section p {
    position: relative;
    padding-left: 20px;
    margin-top: 0;
}

.photo-container img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin-top: 20px;
}

.related-pianists {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.pianist-card {
    flex: 1;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pianist-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.pianist-card img {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.pianist-card h3 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.related-section-title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-bottom: 50px;
    padding-top: 50px;
}

body {
    margin: 0;
    font-family: "Yeseva One", serif;
    background-color: #000;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
    border-bottom: 1px solid #333;
}

.logo-img {
    height: 60px;
    width: auto;
    margin-top: -10px;
    margin-bottom: -10px;
}

/*submenu*/

.dropdown {
    position: relative;
    display: inline-block;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 -5px;
}

.navbar ul li a {
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #ff8200;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
}

ul li ul.dropdown li {
    display: block;
    text-align: left;

}

ul li ul.dropdown {
    width: 11%;
    min-width: 70px;
    background: #000000;
    position: absolute;
    z-index: 999;
    display: none;
    text-align: left;
    cursor: pointer;
    padding: 0 0 0 5px;
}



ul li:hover ul.dropdown {
    display: block;
}

/*submenu-long*/

.dropdown-long {
    position: relative;
    display: inline-block;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 -5px;
}

.navbar ul li a {
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #ff8200;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
}

ul li ul.dropdown-long li {
    display: block;
    text-align: center;

}

ul li ul.dropdown-long {
    width: 13%;
    min-width: 70px;
    background: #000000;
    position: absolute;
    z-index: 999;
    display: none;
    text-align: center;
    cursor: pointer;
    padding: 0 0 0 40px;
}



ul li:hover ul.dropdown-long {
    display: block;
}

/*footer*/

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px 0;
}

.footer-section {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin-bottom: 20px;
}

.footer-section h3 {
    font-weight: 300;
    color: #ff8200;
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

.footer-section ul {
    list-style-type: none;
    padding: 10px 0px;
    margin: 0;
}

.footer-section li {
    margin: 30px 0;
}

.footer-contact {
    font-weight: 300;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}


.footer-bottom {
    margin-top: 20px;
    font-size: 12px;
    color: rgb(255, 255, 255);
}