body {
    margin: 0;
    padding: 0;
    font-family: "Yeseva One", serif;
    background-color: #000;
    color: #fff;
    height: 100vh;
}

.hero {
    width: 100%;
    height: 100vh;
    background: url(../images/event.jpg) no-repeat center center/cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
  font-size: 95px; 
  font-weight: 100;
  margin: 0;
  text-align: center;
  color: #FF8200;
  padding: 50px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    gap: 80px;
}

.section {
    display: flex;
    flex-direction: row; /* 每部分内左右排列 */
    align-items: flex-start;
    gap: 20px; /* 图片和内容之间的间距 */
    width: 100%; /* 确保占满父容器 */
}


.image-section {
    flex: 1;
    max-width: 400px;
}

.image-section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.content-section {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content-section h2 {
    text-align: left;
    font-size: 45px;
    margin-bottom: 20px;
    color: #953545;
}

.date-grid {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
}

.collapsible {
    font-family: "Yeseva One", serif;
    background-color: #6A222E;
    color: #000000;
    cursor: pointer;
    padding: 15px;
    border-radius: 7px;
    text-align: left;
    border: none;
    outline: none;
    font-size: 18px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.collapsible:hover {
    background-color: #933746;
}

.collapsible:after {
    content: '\25BC'; /* 下箭头 */
    font-size: 16px;
    float: right;
}

.collapsible.active:after {
    content: '\25B2'; /* 上箭头 */
}

.content {
    display: none;
    padding: 15px;
    background-color: #000000;
    margin-top: 5px;
    border-radius: 5px;
}

.content p {
    margin: 10px 0;
}

/*animez*/
.main-content-animenz {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    gap: 50px;
}

.section-animenz {
    display: flex;
    flex-direction: row; /* 每部分内左右排列 */
    align-items: flex-start;
    gap: 20px; /* 图片和内容之间的间距 */
    width: 100%; /* 确保占满父容器 */
}


.image-section-animenz {
    flex: 1;
    max-width: 400px;
}

.image-section-animenz img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.content-section-animenz {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content-section-animenz h2 {
    text-align: left;
    font-size: 45px;
    margin-bottom: 20px;
    color: #017EC1;
}

.date-grid-animenz {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
}

.collapsible-animenz {
    font-family: "Yeseva One", serif;
    background-color: #017EC1;
    color: #000000;
    cursor: pointer;
    padding: 15px;
    border-radius: 7px;
    text-align: left;
    border: none;
    outline: none;
    font-size: 18px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.collapsible-animenz:hover {
    background-color: #2e8bbc;
}

.collapsible-animenz:after {
    content: '\25BC'; /* 下箭头 */
    font-size: 16px;
    float: right;
}

.collapsible-animenz.active:after {
    content: '\25B2'; /* 上箭头 */
}

.content-animenz {
    display: none;
    padding: 15px;
    background-color: #000000;
    margin-top: 5px;
    border-radius: 5px;
}

.content-animenz p {
    margin: 10px 0;
}

/*ryuchi*/
.main-content-ryuchi {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    gap: 50px;
}

.section-ryuchi {
    display: flex;
    flex-direction: row; /* 每部分内左右排列 */
    align-items: flex-start;
    gap: 20px; /* 图片和内容之间的间距 */
    width: 100%; /* 确保占满父容器 */
}


.image-section-ryuchi {
    flex: 1;
    max-width: 400px;
}

.image-section-ryuchi img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.content-section-ryuchi {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content-section-ryuchi h2 {
    text-align: left;
    font-size: 45px;
    margin-bottom: 20px;
    color: #C3B26D;
}

.date-grid-ryuchi {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
}

.collapsible-ryuchi {
    font-family: "Yeseva One", serif;
    background-color: #C3B26D;
    color: #000000;
    cursor: pointer;
    padding: 15px;
    border-radius: 7px;
    text-align: left;
    border: none;
    outline: none;
    font-size: 18px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.collapsible-ryuchi:hover {
    background-color: #d0c495;
}

.collapsible-ryuchi:after {
    content: '\25BC'; /* 下箭头 */
    font-size: 16px;
    float: right;
}

.collapsible-ryuchi.active:after {
    content: '\25B2'; /* 上箭头 */
}

.content-ryuchi {
    display: none;
    padding: 15px;
    background-color: #000000;
    margin-top: 5px;
    border-radius: 5px;
}

.content-ryuchi p {
    margin: 10px 0;
}

/* Mobile responsive */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 45px; 
        padding: 20px;
    }

    .main-content, .main-content-animenz, .main-content-ryuchi {
        align-items: center;
        flex-direction: column; 
        padding: 10px;
        gap: 50px;
    }

    .section, .section-animenz, .section-ryuchi {
        flex-direction: column; 
        align-items: center;
        gap: 20px; 
    }

    .image-section, .image-section-animenz, .image-section-ryuchi {
        max-width: 100%; 
        text-align: center;
    }

    .image-section img, .image-section-animenz img, .image-section-ryuchi img {
        width: 100%; 
        height: auto;
    }

    .content-section, .content-section-animenz, .content-section-ryuchi {
        flex: 1;
        gap: 20px; 
        text-align: center; 
    }

    .content-section h2, .content-section-animenz h2, .content-section-ryuchi h2 {
        font-size: 30px; 
        text-align: center; 
    }

    .collapsible, .collapsible-animenz, .collapsible-ryuchi {
        font-size: 16px; 
        padding: 10px; 
    }

    .content, .content-animenz, .content-ryuchi {
        font-size: 14px;
    }
}
