/* Hero Section */

.all{
   margin: 0 auto;
    width:80%;
    padding-left: 50px;
}

.hero {
  margin: 80px;
  margin-left: 0px;
  margin-bottom: 20px;
   display: flex;
   justify-content: flex-start;
  }
  
  .hero h1 {
    font-size:23px;
    color: #FF8200;

  }
  
  .hero-text h1 {
    display: flex;
    justify-content: flex-start;
    font-size: 30px;
    color: #FF8200;
    font-weight: 100;
  }
  
  /* Grid Container */
  .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1%;
    row-gap: 10px;

  }
  
  .pianistwork, .ryuchi, .animenz, .hiromi, .ryuchi2, .animenz2, .hiromi1, .ryuchi3, .animenz3 {
    width:30%;
  }
  
  .pianistwork img, .ryuchi img, .animenz img, .hiromi img, .ryuchi2 img, .animenz2 img, .hiromi1 img, .ryuchi3 img, .animenz3 img {
    width:80%;
  }
  
  .name, .name4, .name7{
    margin-top: 20px;
    font-size:18px ;
    font-weight: 100;
    color: #6A222E;
  }

  .name2, .name5, .name8{
    margin-top: 20px;
    font-size:18px;
    font-weight: 100;
    color: #C3B26D;
  }

  .name3, .name6, .name9{
    margin-top: 20px;
    font-size:18px ;
    font-weight: 100;
    color: #017EC1;
  }
  
  .star, .star2{
    text-align: left;
  }

  .star img, .star2 img {
    width: 5%;
    height: 18%;
    margin-top: 5px;
  }
  
  .categories h4 {
    margin-top: 5px;
    font-size: 15px;
    color: #fff;
    font-weight: 100;
    margin-bottom: 100px;
  }


  /*table*/
@media(max-width:820px) {

  .all{
   max-width:80% ;
   
  }

  .hero, .hero h1{
  align-items: flex-start;
    font-size:20px;
    
  }

  .hero-text h1{

   font-size: 25px;
  }
    
  .pianistwork, .ryuchi, .animenz, .hiromi, .ryuchi2, .animenz2, .hiromi1, .ryuchi3, .animenz3 {
    width:40%;
  }

  .pianistwork img, .ryuchi img, .animenz img, .hiromi img, .ryuchi2 img, .animenz2 img, .hiromi1 img, .ryuchi3 img, .animenz3 img {
   width:80%;
  }

  .star, .star2{
    text-align: left;
  }

  .star img, .star2 img {
    width: 5%;
    height: 18%;
    margin-top: 5px;
  }
  }



  /*mobile*/
  @media (max-width: 600px) {

    .all{
      margin: 0 ;
    }

    .hero-text h1 {
        font-size: 25px;
    }

    .hero h1 {
        font-size: 20px;
    }

    .pianistwork img, .ryuchi img, .animenz img, .hiromi img, .ryuchi2 img, .animenz2 img, .hiromi1 img, .ryuchi3 img, .animenz3 img {
       
        width: 100%;
       

    }

    .pianistwork, .ryuchi, .animenz, .hiromi, .ryuchi2, .animenz2, .hiromi1, .ryuchi3, .animenz3 {
      width:90%;
    }


    .name, .name4, .name7{
        margin-top: 15px;
        font-size:20px;
        text-align: center;
    }
    
    .name2, .name5, .name8{
        margin-top: 10px;
        font-size:20px;
        text-align: center;
    }
    
    .name3, .name6, .name9{
        margin-top: 10px;
        font-size:20px;
        text-align: center;
    }
      
    .star, .star2{
      text-align: center;
    }

    .star img, .star2 img {
      width: 5%;
      margin-top: 5px;
     
    }
      
    .categories h4 {
        margin-top: 5px;
        font-size: 15px;
       text-align: center;
    }
    
  }