body {
    margin: 0;
    font-family: "Yeseva One", serif;
    background-color: #000;
    color: #fff;
}

body {
    margin: 0;
    font-family: "Yeseva One", serif;
    background-color: #000;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
    border-bottom: 1px solid #333;
}

.logo-img {
    height: 60px;
    width: auto;
    margin-top: -10px;
    margin-bottom: -10px;
}

/*submenu*/

.dropdown {
    position: relative;
    display: inline-block;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 -5px;
}

.navbar ul li a {
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #ff8200;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
}

ul li ul.dropdown li {
    display: block;
    text-align: left;

}

ul li ul.dropdown {
    width: 11%;
    min-width: 70px;
    background: #000000;
    position: absolute;
    z-index: 999;
    display: none;
    text-align: left;
    cursor: pointer;
    padding: 0 0 0 5px;
}



ul li:hover ul.dropdown {
    display: block;
}

/*submenu-long*/

.dropdown-long {
    position: relative;
    display: inline-block;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 -5px;
}

.navbar ul li a {
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #ff8200;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
}

ul li ul.dropdown-long li {
    display: block;
    text-align: center;

}

ul li ul.dropdown-long {
    width: 13%;
    min-width: 70px;
    background: #000000;
    position: absolute;
    z-index: 999;
    display: none;
    text-align: center;
    cursor: pointer;
    padding: 0 0 0 40px;
}



ul li:hover ul.dropdown-long {
    display: block;
}

/*footer*/

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px 0;
}

.footer-section {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin-bottom: 20px;
}

.footer-section h3 {
    font-weight: 300;
    color: #ff8200;
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

.footer-section ul {
    list-style-type: none;
    padding: 10px 0px;
    margin: 0;
}

.footer-section li {
    margin: 30px 0;
}

.footer-contact {
    font-weight: 300;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}


.footer-bottom {
    margin-top: 20px;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

/*let the bar fix*/
header.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
}
/*submenu-long*/

.dropdown-long {
    position: relative;
    display: inline-block;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 -5px;
}

.navbar ul li a {
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #ff8200;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
}

ul li ul.dropdown-long li {
    display: block;
    text-align: center;

}

ul li ul.dropdown-long {
    width: 13%;
    min-width: 70px;
    background: #000000;
    position: absolute;
    z-index: 999;
    display: none;
    text-align: center;
    cursor: pointer;
    padding: 0 0 0 40px;
}



ul li:hover ul.dropdown-long {
    display: block;
}

/*background*/

.bgimg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(../images/index.png) no-repeat center center/cover;
    text-align: center;
}

.bgimg-text h1 {
    margin-top: -90px;
    font-family: "Yeseva One", serif;
    font-style: normal;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-size: 8em;
    color: #ff8200;
}

/* hiromi */
body {
    margin: 0;
    font-family: "Yeseva One", serif;
    background-color: #000;
    color: #fff;
    font-weight: 400;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    max-width: 1800px;
    margin: 0 auto;
    position: relative;
    border-top: 1px solid #ff8200;
    /* line */
    border-bottom: 0.5px solid #ff8200;
    /* line */
}

.image-container {
    flex: 2;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    filter: grayscale(100%);
}

.learn-more-link:hover {
    color: #ff8200;
}

.content-container {
    flex: 1;
    padding: 0 30px;
}

.content-container h2 {
    font-size: 60px;
    font-weight: 200;
    margin-bottom: 30px;
    color: #fff;
}

.content-container h3 {
    font-size: 34px;
    font-style: italic;
    line-height: 1.6;
    color: #6A222E;
    margin-bottom: 30px;
    font-weight: 300;
}

.learn-more-link {
    text-decoration: none;
    font-size: 20px;
    color: #6A222E;
    font-weight: bold;
    transition: color 0.3s ease;
}

/*animez*/

.content-container-animez {
    flex: 1;
    padding: 0 30px;
}

.content-container-animez h2 {
    font-size: 60px;
    font-weight: 200;
    margin-bottom: 30px;
    color: #fff;
}

.content-container-animez h3 {
    font-size: 34px;
    font-style: italic;
    line-height: 1.6;
    color: #017EC1;
    margin-bottom: 30px;
    font-weight: 300;
}

.learn-more-link-animez {
    text-decoration: none;
    font-size: 20px;
    color: #017EC1;
    font-weight: bold;
    transition: color 0.3s ease;
}

.learn-more-link-animez:hover {
    color: #ff8200;
}

/*Ryuchi*/

.content-container-ryuchi {
    flex: 1;
    padding: 0 30px;
}

.content-container-ryuchi h2 {
    font-size: 60px;
    font-weight: 200;
    margin-bottom: 30px;
    color: #fff;
}

.content-container-ryuchi h3 {
    font-size: 34px;
    font-style: italic;
    line-height: 1.6;
    color: #C3B26D;
    margin-bottom: 30px;
    font-weight: 300;
}

.learn-more-link-ryuchi {
    text-decoration: none;
    font-size: 20px;
    color: #C3B26D;
    font-weight: bold;
    transition: color 0.3s ease;
}

.learn-more-link-ryuchi:hover {
    color: #ff8200;
}

/*footer*/

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px 0;
}

.footer-section {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin-bottom: 20px;
}

.footer-section h3 {
    font-weight: 300;
    color: #ff8200;
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

.footer-section ul {
    list-style-type: none;
    padding: 10px 0px;
    margin: 0;
}

.footer-section li {
    margin: 30px 0;
}

.footer-contact {
    font-weight: 300;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}


.footer-bottom {
    margin-top: 20px;
    font-size: 12px;
    color: rgb(255, 255, 255);
}
