button.requestnow {
    background-color: #000000;
    color: white;
    border: 1px solid #000000;

}

button.signup {
    background-color: #55a35a;
    color: white;
    font-weight: bold;
    border: 1px solid #55a35a;

}

button.addtocart {
    background-color: #f9da4e;
    color: black;
    border: 1px solid #f9da4e;

}

button.getstarted {
    background-color: #7354ad;
    color: white;
    font-weight: bold;
    border: 1px solid #7354ad;

}

button.download {
    background-color: #ffffff;
    color: #70757a;
    font-weight: bold;
    border: 1px solid #70757a;

}

button.applyoncompanywebsite {
    background-color: #2d65bc;
    color: white;
    font-weight: bold;
    border: 1px solid #2d65bc;

}

button.save {
    background-color: white;
    color: #2c62c0;
    font-weight: bold;
    border: 1.5px solid #2c62c0;

}

.button-style-round {
    border-radius: 20px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 15px;
}

.button-style-square {
    border-radius: 3px;
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;
    margin-right: 15px;
}

#heading {
    color: rgb(1, 0, 86);
    background-color: rgb(255, 241, 150);
}

.setbg {
    background-image: url(images/water.webp);
    background-size: contain;
}