
/*ryuchi*/
body,html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Yeseva One", serif; 
    color: #d8c68a; 
    background: black; 
    
}

.hero-section {
    width: 100%;
    height: 95vh; 
    background: url("'image/ryuchiabout.png'") no-repeat center center/cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.text-container {
    max-width: 600px;
}

.title {
    padding-left: 5%; 
    font-size: 150px; 
    font-weight: 400;
    margin: 0;
    line-height: 3;
}

.subtitle {
    padding-left: 200%; 
    font-size: 120px; 
    font-weight: 200;
    margin: 20px 0 0;
    line-height: 1.2;
}

@media (max-width: 768px) {
    .title {
        font-size: 2.5rem;
    }
    .subtitle {
        font-size: 3rem;
    }
}